/*
    Folha de estilo do site one page MB
    @author Gabriel Brandão
*/

/* Smartphone Portrait*/


/* Smartphone Landscape*/
@media (min-width: 576px){
    body{
        background-color: aqua;
    }
}

/* Tablet Portrait*/
@media (min-width: 768px){
    body{
        background-color: yellow;
    }
}
/* Tablet Landscape*/
@media (min-width: 992px){
    body{
        background-color: #FF6600;
    }
}
/* PC*/
@media (min-width: 1200px){
    body{
        background-color: #FF0000;
    }
}